body{
    width: 100%;
    margin: 0;
}

.App{
    text-align: center;
    background-color: black;
    color: white;
}

.Country{
    width: 75%;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: brown;
}

@media(max-width: 800px){
    .Country{
        width: 100%;
    }
}

.Counter{
    width: 75%;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Counter .Counter-cont{
    width: 250px;
    height: 250px;
    padding: 15px;
    background-color: brown;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.Counter .Counter-cont h1{
    background-color: aliceblue;
    padding: 15px 0;
    color: black;
    width: 100px;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.Input{
    width: 75%;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px){
    .Input{
        width: 100%;
    }
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}